.brands{
    margin: 40px 0;
}

.brand-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #dee0ea;
    padding: 30px 5px;
}

.brand-list img{
    opacity: 0.5;
    transition: 0.3s ease all;
}
.brand-list img:hover{
    opacity: 1;
}